layout {
    tab name="Pi" focus=true {
        pane command="bash" {
            args "-l"
        }
    }
    tab name="Shell" {
        pane command="bash"
    }
    tab name="Logs" {
        pane command="journalctl" {
            args "--user" "-f"
        }
    }
}
